@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 40px;
    background: linear-gradient(rgba(180, 71, 71, 0.795),rgba(151, 48, 48, 0.781)), url(../img/boutique-g3b00dc299_1920.jpg) no-repeat center fixed;
    font-family: 'Roboto', sans-serif !important;
}

.text-oxygen {
    font-family: 'Oxygen', sans-serif;
}

.text-raleway {
    font-family: 'Raleway', sans-serif;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-rubik {
    font-family: 'Rubik', sans-serif;
}

.text-red {
    color: rgb(212, 47, 47);
}

.text-grey {
    color: rgb(100, 99, 99);
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.auth-card {
    background: white;
    margin-top: 100px;
}

.auth-group .auth-addon {
    border-radius: 0px;
    background: rgb(212, 47, 47);
    color: white;
    border-color: rgb(212, 47, 47);
    font-size: 20px;
}

.auth-group .auth-control {
    border-radius: 0px;
}

.btn-submit {
    color: white !important;
    background: rgb(212, 47, 47) !important;
    border: 1px solid rgb(212, 47, 47) !important;
    border-radius: 0px !important;
}

.btn-submit:hover {
    opacity: 0.8;
}

.auth-links {
    color: rgb(212, 47, 47) !important;
    text-decoration: none;
    font-size: 14px;
}

.auth-text {
    font-size: 14px;
}
